<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ website_title }} 后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" />
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="../index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/admin">管理后台首页</a></li>
                <li><a href="/" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="/user">管理员</a></li>
                <li><a href="/change_passwd">修改密码</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="design.html"><i class="icon-font">&#xe008;</i>文章管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe006;</i>分类管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe004;</i>标签管理</a></li>
                        <li><a href="/user"><i class="icon-font">&#xe005;</i>用户管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe012;</i>评论管理</a></li>
                        <li><a href="design.html"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="system.html"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎<b>{{ username }}</b>用户回家,登录时间为：{{ login_time }}</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>
            <div class="result-content">
                <div class="short-wrap">
                    <a href="insert.html"><i class="icon-font">&#xe001;</i>新增文章</a>
                    <a href="insert.html"><i class="icon-font">&#xe048;</i>新增分类</a>
                    <a href="insert.html"><i class="icon-font">&#xe041;</i>新增标签</a>
                     <a href="/user"><i class="icon-font">&#xe005;</i>新增用户</a>
                    <a href="#"><i class="icon-font">&#xe01e;</i>作品评论</a>
                </div>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>系统基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li><label class="res-lab">操作系统</label><span class="res-info">{{ os }}</span></li>
                    <li><label class="res-lab">运行环境</label><span class="res-info">{{ run_env }}</span></li>
                    <li><label class="res-lab">Python</label><span class="res-info">{{ python_v }}</span></li>
                    <li><label class="res-lab">Flask</label><span class="res-info">{{ flask_v }}</span></li>
                    <li><label class="res-lab">SQLAlchemy</label><span class="res-info">{{ SQLAlchemy_v }}</span></li>
                    <li><label class="res-lab">数据库类型</label><span class="res-info">{{ db_type }}</span></li>
                    <li><label class="res-lab">博客版本</label><span class="res-info">{{ blog_v }}</span></li>

                    <li><label class="res-lab">北京时间</label><span class="res-info">{{ datetime }}</span></li>
                    <li><label class="res-lab">服务器域名/IP</label><span class="res-info">{{ server_ip }}</span></li>
                    <li><label class="res-lab">服务运行端口</label><span class="res-info">{{ server_port }}</span></li>
                </ul>
            </div>
        </div>
{#        <div class="result-wrap">#}
{#            <div class="result-title">#}
{#                <h1>使用帮助</h1>#}
{#            </div>#}
{#            <div class="result-content">#}
{#                <ul class="sys-info-list">#}
{#                    <li>#}
{#                        <label class="res-lab">更多模板：</label><span class="res-info"><a href="http://www.codejie.net/" target="_blank">源码街-免费源码下载</a></span>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
    </div>
    <!--/main-->
</div>
</body>
</html>