<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - 文章管理</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon.ico" />
    {% block link %} {% endblock %}
    <script src="../../static/js/posts.js" defer=""></script>
    <script>{% block javascript %}{% endblock %}</script>
</head>
<body>
<!-- header -->
    <div class="topbar-wrap white">
        <div class="topbar-inner clearfix">
            <div class="topbar-logo-wrap clearfix">
                <ul class="navbar-list clearfix">
                    <li><a class="on" href="{{ url_for("blue_manage.index") }}">管理后台首页</a></li>
                    <li><a href="/" target="_blank">网站首页</a></li>
                </ul>
            </div>
            <div class="top-info-wrap">
                <ul class="top-info-list clearfix">
                    <li><a href="{{ url_for("blue_manage.user") }}">管理员</a></li>
                    <li><a href="{{ url_for("blue_manage.user") }}">修改密码</a></li>
                    <li><a href="{{ url_for("blue_manage.logout") }}">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
<!-- 网站导航条 -->
    <div class="align-baseline">
        <div class="sidebar-wrap">
            <div class="sidebar-title">
                <h1>菜单</h1>
            </div>
            <div class="sidebar-content">
                <ul class="sidebar-list">
                    <li>
                        <a href="{{ url_for("blue_manage.index") }}"><i class="icon-font"></i>首页</a>
                        <a href="javascript:void(0);"><i class="icon-font">&#xe003;</i>常用操作</a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for("blue_manage.posts") }}"><i class="icon-font">&#xe008;</i>文章管理</a></li>
                            <li><a href="{{ url_for("blue_manage.PostsInsert") }}"><i class="icon-font">&#xe026;</i>新增文章</a></li>
                            <li><a href="{{ url_for("blue_manage.categories") }}"><i class="icon-font">&#xe006;</i>分类管理</a></li>
                            <li><a href="{{ url_for("blue_manage.tag") }}"><i class="icon-font">&#xe004;</i>标签管理</a></li>
                            <li><a href="{{ url_for('blue_manage.user') }}"><i class="icon-font">&#xe014;</i>用户管理</a></li>
                            <li><a href="{{ url_for('blue_manage.comment') }}"><i class="icon-font">&#xe012;</i>评论管理</a></li>
                            <li><a href="{{ url_for('blue_manage.links') }}"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('blue_manage.system') }}"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                            <li><a href="m_system.html"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                            <li><a href="m_system.html"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                            <li><a href="m_system.html"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- main -->
{% block main %}

{% endblock %}
</body>
</html>