{% extends 'manage/m_base.html' %}
<!-- main -->
{% block main %}
    <div class="main-wrap">
        <a>000:</a><i class="icon-font">&#xe000;</i><br/>
        <a>001:</a><i class="icon-font">&#xe001;</i><br/>
        <a>002:</a><i class="icon-font">&#xe002;</i><br/>
        <a>004:</a><i class="icon-font">&#xe004;</i><br/>
        <a>005:</a><i class="icon-font">&#xe005;</i><br/>
        <a>006:</a><i class="icon-font">&#xe006;</i><br/>
        <a>007:</a><i class="icon-font">&#xe007;</i><br/>
        <a>008:</a><i class="icon-font">&#xe008;</i><br/>
        <a>009:</a><i class="icon-font">&#xe009;</i><br/>
        <a>010:</a><i class="icon-font">&#xe010;</i><br/>
        <a>011:</a><i class="icon-font">&#xe011;</i><br/>
        <a>012:</a><i class="icon-font">&#xe012;</i><br/>
        <a>013:</a><i class="icon-font">&#xe013;</i><br/>
        <a>014:</a><i class="icon-font">&#xe014;</i><br/>
        <a>015:</a><i class="icon-font">&#xe015;</i><br/>
        <a>016:</a><i class="icon-font">&#xe016;</i><br/>
        <a>017:</a><i class="icon-font">&#xe017;</i><br/>
        <a>018:</a><i class="icon-font">&#xe018;</i><br/>
        <a>019:</a><i class="icon-font">&#xe019;</i><br/>
        <a>020:</a><i class="icon-font">&#xe020;</i><br/>
        <a>021:</a><i class="icon-font">&#xe021;</i><br/>
        <a>022:</a><i class="icon-font">&#xe022;</i><br/>
        <a>023:</a><i class="icon-font">&#xe023;</i><br/>
        <a>024:</a><i class="icon-font">&#xe024;</i><br/>
        <a>025:</a><i class="icon-font">&#xe025;</i><br/>
        <a>026:</a><i class="icon-font">&#xe026;</i><br/>
        <a>027:</a><i class="icon-font">&#xe027;</i><br/>
        <a>028:</a><i class="icon-font">&#xe028;</i><br/>
        <a>029:</a><i class="icon-font">&#xe029;</i><br/>
        <a>030:</a><i class="icon-font">&#xe030;</i><br/>
        <a>031:</a><i class="icon-font">&#xe031;</i><br/>
        <a>032:</a><i class="icon-font">&#xe032;</i><br/>
        <a>033:</a><i class="icon-font">&#xe033;</i><br/>
        <a>034:</a><i class="icon-font">&#xe034;</i><br/>
        <a>035:</a><i class="icon-font">&#xe035;</i><br/>
        <a>036:</a><i class="icon-font">&#xe036;</i><br/>
        <a>037:</a><i class="icon-font">&#xe037;</i><br/>
        <a>038:</a><i class="icon-font">&#xe038;</i><br/>
        <a>039:</a><i class="icon-font">&#xe039;</i><br/>
        <a>040:</a><i class="icon-font">&#xe040;</i><br/>
        <a>041:</a><i class="icon-font">&#xe041;</i><br/>
        <a>042:</a><i class="icon-font">&#xe042;</i><br/>
        <a>043:</a><i class="icon-font">&#xe043;</i><br/>
        <a>044:</a><i class="icon-font">&#xe044;</i><br/>
        <a>045:</a><i class="icon-font">&#xe045;</i><br/>
        <a>046:</a><i class="icon-font">&#xe046;</i><br/>
        <a>047:</a><i class="icon-font">&#xe047;</i><br/>
        <a>048:</a><i class="icon-font">&#xe048;</i><br/>
        <a>049:</a><i class="icon-font">&#xe049;</i><br/>
        <a>050:</a><i class="icon-font">&#xe050;</i><br/>
        <a>051:</a><i class="icon-font">&#xe051;</i><br/>
        <a>052:</a><i class="icon-font">&#xe052;</i><br/>
        <a>053:</a><i class="icon-font">&#xe053;</i><br/>
        <a>054:</a><i class="icon-font">&#xe054;</i><br/>
        <a>055:</a><i class="icon-font">&#xe055;</i><br/>
        <a>056:</a><i class="icon-font">&#xe056;</i><br/>
        <a>057:</a><i class="icon-font">&#xe057;</i><br/>
        <a>058:</a><i class="icon-font">&#xe058;</i><br/>
        <a>059:</a><i class="icon-font">&#xe059;</i><br/>
        <a>060:</a><i class="icon-font">&#xe060;</i><br/>
        <a>061:</a><i class="icon-font">&#xe061;</i><br/>
        <a>062:</a><i class="icon-font">&#xe062;</i><br/>
        <a>063:</a><i class="icon-font">&#xe063;</i><br/>
        <a>064:</a><i class="icon-font">&#xe064;</i><br/>
        <a>065:</a><i class="icon-font">&#xe065;</i><br/>
        <a>066:</a><i class="icon-font">&#xe066;</i><br/>
        <a>067:</a><i class="icon-font">&#xe067;</i><br/>
        <a>068:</a><i class="icon-font">&#xe068;</i><br/>
        <a>069:</a><i class="icon-font">&#xe069;</i><br/>
    </div>
{% endblock %}