{% extends 'manage/m_base.html' %}
{% block title %}
    {% for row in rows  %}
        {% if row.name == "website_title" %}
            {{ row.value }}
        {% endif %}
    {% endfor %}
{% endblock %}
<!-- main -->
{% block main %}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="../index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">系统设置</span></div>
    </div>
    <div class="result-wrap">
        <form action="#" method="post" id="myform" name="myform">
            <div class="config-items">
                <div class="config-title">
                    <h1><i class="icon-font">&#xe00a;</i>网站信息设置</h1>
                </div>
                <div class="result-content">
                    <table width="100%" class="insert-tab">
                        <tbody>
                        {%  for row in rows %}
                            {%  if row.name == "website_url" %}
                                <tr>
                                    <th width="15%"><i class="require-red">*</i>域名：</th>
                                    <td><input type="text" id="website_url" value="{{ row.value }}" size="85" name="website_url" class="common-text"></td>
                                </tr>
                            {% elif row.name == "website_title" %}
                                <tr>
                                    <th><i class="require-red">*</i>站点标题：</th>
                                    <td><input type="text" id="website_title" value="{{ row.value }}" size="85" name="website_title" class="common-text"></td>
                                </tr>
                            {%  elif row.name == "website_keywords" %}
                                <tr>
                                    <th><i class="require-red">*</i>关键字：</th>
                                    <td><input type="text" id="website_keywords" value="{{ row.value }}" size="85" name="website_keywords" class="common-text"></td>
                                </tr>
                            {%  elif row.name == "website_desc" %}
                                <tr>
                                    <th><i class="require-red">*</i>描述：</th>
                                    <td><input type="text" id="website_desc" value="{{ row.value }}" size="85" name="website_desc" class="common-text"></td>
                                </tr>
                            {% elif row.name == "website_icp" %}
                                <tr>
                                    <th><i class="require-red">*</i>备案ICP：</th>
                                    <td><input type="text" id="website_icp" value="{{ row.value }}" size="85" name="website_icp" class="common-text"></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                            <tr>
                                <th></th>
                                <td>
                                    <input type="submit" value="提交" id="submitButton" class="btn btn-primary btn6 mr10">
                                    <a href="{{ url_for("blue_manage.index") }}"><input type="button" value="返回" onClick="history.go(-1)" class="btn btn6"></a>
                                    <p style="color: red;">{{ msg }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}